# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Node
node_modules/
npm-debug.log
yarn-error.log

# NYC
coverage/
.nyc_output/

# Bower
bower_components/
